# Container Options
DRY_RUN=FALSE
LOG_LEVEL=INFO
LOG_TYPE=BOTH
LOG_FILE=tcc.log
LOG_PATH=/logs/
TCC_USER=root

# Docker Options
DOCKER_ENTRYPOINT=unix://var/run/docker.sock
#DOCKER_HOST=tcp://111.222.111.32:2376
#DOCKER_CERT_PATH=/docker-certs
DOCKER_SWARM_MODE=FALSE
DOCKER_TLS_VERIFY=1

# Cloudflare Options
CF_EMAIL=your_email@example.com
CF_TOKEN=your_cloudflare_api_token
RC_TYPE=CNAME
TARGET_DOMAIN=host.example.com
DEFAULT_TTL=1

# Traefik Options
TRAEFIK_VERSION=2
ENABLE_TRAEFIK_POLL=FALSE
#TRAEFIK_POLL_URL=http://<host>:<port>
TRAEFIK_POLL_SECONDS=60
TRAEFIK_FILTER_LABEL=traefik.constraint
#TRAEFIK_FILTER=
#TRAEFIK_INCLUDED_HOST1=.*
#TRAEFIK_EXCLUDED_HOST1=
REFRESH_ENTRIES=FALSE
